## data too big for github

*.Rdata
*-ft.tsv
*.txt.gz 
*.gz
IL5_consensus_manifest_8M.tsv
assocvariants.annotated.txt.gz
IL5_consensus_manifest_6M.tsv
IL5_consensus_manifest_6M_e5.tsv
CCL8_consensus_manifest_8M.tsv
*.tsv.gz
*.RDS

## imtermediated output files from hpc
*.tmp
*.err
*.out

## output from pipeline

**.tsv.gz
